*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto';
}
.box .icon {
    height: 50px;
    padding:  40px 15px;
    align-items: center;
}

.header{
    width: 110%;
    height: 100vh;
    padding: 0 10%;
}
nav{
    width: 100%;
    display: flex;
    align-items: calc(2px);
    justify-content: space-between;
    padding: 20px 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.header nav  ul li a:hover,
.header nav ul li a.active {
    color: #263bd9;
}
.header nav ul li a.active::after {
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.box .icon {
    height: 50;
    padding: 20px;
}
.text-box{
    margin-top: 85px;
    max-width: 100%;
}
.text-box h1{
    font-size: 45px;
    margin-bottom: 10px;
    margin-top: 15px;
    color: black;
}
.text-box h4 {
    font-size: 30px;
    margin-bottom: 25px;
    color: red;
}
.text-box a{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: solid;
    border-color: black;
    background: none;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 50% 20% / 10% 40%;
}
.our-services p {
    margin-top: 15px;
    max-width: 85%;
}
.our-services h1{
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 200px;
    color: #2287C9;
}
.our-services h2{
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: bold;
    color: black;
}
.container
{
    display: flex;
    margin-right: 0%;
    justify-content: center;
}
.container .box 
{
    position: relative;
    width: 300px;
    height: 280px;
    padding: 25px;
    background: #df928e3f;
    border-radius: 20px;
    margin: 10px;
    margin-right: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: start;
}
.container .box-2 
{
    position: relative;
    width: 300px;
    height: 280px;
    padding: 25px;
    background: #22223b2d;
    border-radius: 20px;
    margin: 10px;
    margin-right: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: start;
}
.container .box-3 
{
    position: relative;
    width: 300px;
    height: 280px;
    padding: 25px;
    background: #aec3b04d;
    border-radius: 20px;
    margin: 10px;
    margin-right: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: start;
}
.container .box-4 
{
    position: relative;
    width: 300px;
    height: 280px;
    padding: 25px;
    background:#abc4ff5d;
    border-radius: 20px;
    margin: 10px;
    margin-right: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: start;
}

.container .box .icon
{
    position: relative;
    width: 80px;
    height: 80px;
    padding: 5px 5px 1px;
    margin-top: 0;
    background: #000;
    display: flex;
    border-radius: 50%;
    justify-content: left;
    align-items: left;
}
.container .box-2 .icon
{
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 0;
    background: #000;
    display: flex;
    border-radius: 50%;
    justify-content: left;
    align-items: left;
}
.container .box-3 .icon
{
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 0;
    background: #000;
    display: flex;
    border-radius: 50%;
    justify-content: left;
    align-items: left;
}
.container .box-4 .icon
{
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 0;
    background: #000;
    display: flex;
    border-radius: 50%;
    justify-content: left;
    align-items: left;
}
.box .content h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    align-items: center;
    margin-top: 10px;
    color: rgb(87, 81, 81);
}
.box-2 .content h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    align-items: center;
    margin-top: 10px;
    color: rgb(87, 81, 81);
}
.box-3 .content h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    align-items: center;
    margin-top: 10px;
    color: rgb(87, 81, 81);
}
.box-4 .content h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    align-items: center;
    margin-top: 10px;
    color: rgb(87, 81, 81);
}
.box .content p{
    font-size: 20px auto;
    font-weight: lighter;
}
.box-2 .content p{
    font-size: 20px auto;
    font-weight: lighter;
}
.box-3 .content p{
    font-size: 20px auto;
    font-weight: lighter;
}
.box-4 .content p{
    font-size: 20px auto;
    font-weight: lighter;
}
.container .box:nth-child(1) .icon
{
    background: #DF928E; 
    background-color: 72%;
}
.container .box-2:nth-child(2) .icon
{
    background: #22223B; 
}
.container .box-3:nth-child(3) .icon
{
    background: #AEC3B0; 
}
.container .box-4:nth-child(4) .icon
{
    background: #ABC4FF; 
}
.group {
    margin: 150px auto; 
    width: 100%;
}
img {
    max-width: 500px;
    float: left;
    margin-bottom: 100px;
    border-radius: 100px;
    
}
.text-box2 h2 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #2287C9;
}
.text-box2 h1 {
    font-size: 40px;
    margin-bottom: 30px;
}
.text-line{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section{
    background: lightblue;
    margin: 20px;
    width: 100%;
}


